
# System files #
################
.DS_Store

# metadata #
####################
.classpath
.project
.settings

# Editor temporary #
####################
*.swp
*.ipynb_checkpoints
*.ipynb

*.jar
*-learned.psl

out.txt
out.err
inferred-predicates/
.txt

# Compiled sources #
####################
target
classpath.out
dependency-reduced-pom.xml


################for bmf
*.py[cod]

# C extensions
*.so

# Packages
*.egg
.eggs*
*.egg-info
.cache/
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
lib
lib64

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
nosetests.xml

# Translations
*.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject


