
# System files #
################
.DS_Store

# metadata #
####################
.classpath
.project
.settings

# Editor temporary #
####################
*.swp
*.ipynb_checkpoints
*.ipynb

*.jar
*-learned.psl

out.txt
out.err

